@using Microsoft.AspNetCore.Mvc.Localization
@model OrbintSoft.Yauaa.WebSample.AspNetCore.Models.DemoViewModel
@{
    ViewData["Title"] = "Demo";
}
<h1 localize>
    Yauaa Demo: Try to analyze the User Agent
</h1>
<form asp-controller="Home" asp-action="Demo" id="parseForm">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="UserAgent">User Agent:</label>
        <input asp-for="UserAgent" type="text" class="form-control" id="useragent" value="@Model.UserAgent">
    </div>
    @if (Model.Fields == null)
    {
        <div class="alert alert-danger" role="alert" localize>
            First time parsing can be very slow because the library is loading all matchers.
        </div>
    }
    <div class="form-group">
        <button type="submit" id="sendButton" class="btn btn-primary" localize>Parse</button>
    </div>
</form>
@if (Model.Fields != null)
{
    <h2 localize>Results:</h2>
    <h4>
        <localize>Elapsed time:</localize> ~ @Model.ElapsedTime
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" localize>Field name</th>
                <th scope="col" localize>Value</th>
                <th scope="col" localize>Confidence</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fieldName in Model.Fields.Keys)
            {
                <tr>
                    <td>@fieldName</td>
                    <td>@Model.Fields[fieldName].GetValue()</td>
                    <td>@Model.Fields[fieldName].GetConfidence()</td>
                </tr>
            }
        </tbody>
    </table>
}
<p>
    <localize>Current version:</localize> @Model.Version
</p>

